<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav-container">
            <nav class="nav-bar">
                <a href="/" class="nav-elem">Home</a>
                <a href="/page2" class="nav-elem">Page 2</a>
                <a href="/page3" class="nav-elem">Page 3</a>
            </nav>
        </div>
    </header>

    <main>
        <div>

        </div>
    </main>
</body>
</html>